Django==5.2.11
gunicorn==23.0.0
python-dotenv==1.2.2

djangorestframework
django-cors-headers
whitenoise

numpy==1.26.4
pandas==2.2.3
Pillow==11.3.0

opencv-python-headless==4.10.0.84
tensorflow
tf-keras==2.18.0

deepface==0.0.100
retina-face==0.0.18
mtcnn==1.0.0

chromadb==1.5.9

requests==2.34.2
gdown==5.2.0
tqdm==4.67.1
fire==0.7.1
flask==3.1.2
flask-cors==6.0.1
